{
  "presets": [
    ["env", {
      "targets": {
        "node": 4
      },
      "loose": true,
      "useBuiltIns": true
    }]
  ],
  "plugins": [
    "babel-plugin-syntax-class-properties",
    ["..", { "production": true }],
    "babel-plugin-transform-class-properties"
  ]
}
